.seasonal-fixed {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

.seasonal-container {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.seasonal-container.christmass {
    display: block;
}

/*christmas*/
.seasonal-container .natalAtasKiri-img {
    width: 320px;
    position: absolute;
    top: 0;
    left: 7%;
}
.seasonal-container .natalAtasKanan-img{
    width: 155px;
    position: absolute;
    top: 11%;
    right: 0px;
}
.seasonal-container .natalBawahKiri-img {
    width: 445px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.seasonal-container .natalBawahKanan-img {
    width: 360px;
    position: absolute;
    bottom: 0;
    right: 45px;
}

/*responsive*/
@media only screen and (max-width: 1024px) {
    .hero-slider-bg-controls {
        left: 10px;
        bottom: 10% !important;
    }
    .swiper-slide-controls-play-pause {
        left: 10px;
        bottom: 10% !important;
    }
    .seasonal-container .natalAtasKiri-img {
        top: 10%;
        left: 0%;
        zoom: 0.9;
    }
    .seasonal-container .natalAtasKanan-img {
        zoom: 0.9;
    }
    .seasonal-container .natalBawahKiri-img {
        zoom: 0.9;
    }
    .seasonal-container .natalBawahKanan-img {
        right: 0;
        zoom: 0.9;
    }
}

@media only screen and (max-width: 600px){
    .seasonal-container .natalAtasKiri-img {
        top: 8%;
        left: 0%;
        zoom: 0.9;
    }
    .seasonal-container .natalAtasKanan-img {
        zoom: 0.8;
        right: -35px;
    }
    .seasonal-container .natalBawahKiri-img {
        zoom: 0.5;
    }
    .seasonal-container .natalBawahKanan-img {
        right: 0;
        zoom: 0.4;
    }

}