@media only screen and (max-width: 600px){
    .seasonal-container .natalAtasKiri-img {
        top: 8%;
        left: 0%;
        zoom: 0.9;
    }
    .seasonal-container .natalAtasKanan-img {
        zoom: 0.8;
        right: -35px;
    }
    .seasonal-container .natalBawahKiri-img {
        zoom: 0.5;
    }
    .seasonal-container .natalBawahKanan-img {
        right: 0;
        zoom: 0.4;
    }

}